
.html{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    /* Mas suave al scrollear (fede)*/
    scroll-behavior:smooth;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Lo desactivo porque el carrusel traspasa el header que queda fijo
.cuerpo {
    margin: 0;
	padding: 0;
    padding-top: 200px;
  
}
*/ 
#main-content{
    position:fixed;
            width: 100%;
            left: 0;
            top: 0;
            z-index: 1;
  
    
    }
    .header{
        background-color: rgb(13, 126, 101);
        padding: 0px; 
                           
        }
    
        .logo{    
       /*Agregue Centrado de texto (fede)*/
        text-align: center;
        font-style: italic;
        font-weight: bold;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-bottom: 0px;
        text-decoration: none;
        color:white;

        }
        #navbar {
            position:fixed;
            width: 100%;
            left: 0;
            top: 0;
            padding: 0;
            
        }
        .list-navbar{                  
            list-style-type: none;
            width: 100%;
            text-align: center;
            margin: 0;
            }
            .list-navbar>li{
                display: inline;
                /*Le puse separacion entre las cajas (fede)*/
                margin-right: 50px;                
               
                }
                .list-navbar>li>a{
                    /*Le quite el seleccionado azul a las opciones del navbar */    
                    text-decoration: none;
                    text-align: right; 
                    color:white;  
                    padding:5px;
                    padding-top: 0px;
                }
                /*Agrego pseudoclasese para darle más animación* (fede)*/
                .list-navbar>li>a:hover{
                    color: tomato;
                    background-color: white;
                    border-radius: 10px;
                    transition: 1s;
                    }
                    .list-navbar>li>a:active{
                        color: tomato;
                        background-color: rgb(114, 40, 8);
                    }
                     /*Agrego la parte de flexbox (fede)*/   
                     .flex-container {
                        margin-top: 20px;
                        display:flex;
                        flex-direction: row;
                        /*Permite o no el desbordamiento*/
                        flex-wrap: wrap;
                        justify-content: space-between;
                    
                    }
                        .flex-item{
                            padding:1%;
                            background-color: rgb(134, 145, 34);
                            margin-bottom: 10px;
                            width: 45%;
                            border-radius: 20px;
                            font-size: 20px;
                        }
                       
                        #cajas1 {
                        margin-left: auto;
                        margin-right: auto;
                        width:80%;
                    }
                   
            .mainmenu {
                padding-top: 70px;
                margin-left: auto;
            }        
#novedades{
    background-color: rgb(13, 126, 101);
    padding: 10px;
    margin-top: 20px;
   
    }
    .novedades{
        background-color: beige;
    }
.nosotros {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;   
    
}img{
    border-radius: 10px;
}
.nosotros_flex {
    margin:0 auto;

}


.flex-item:hover{
    transform: scale(1.1,1.1);
    border: 2px grey solid;
}

.aside {
    margin-top: 5px; 
    border-radius: 5%;
    text-align: center;
} 

a {
    text-decoration: none;
    color:inherit;
}


.carousel-inner {
    margin-top: 5px;
    border-radius: 5%;
}

/* menu */
.novedades h2::before{
    content: "⚒️";
    /* content: "f1ea"; */
}

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
   }
   
   /* items del menu */
   
   #menu ul li {
    background-color:#2e518b;
   }
 .contacto {
    padding-top:200px;
 }  
.sucursal {
    padding-top:  150px;
    padding-left: 10%;

}
.redes>a{
    color: black;
    padding: 10px;
}a:hover{
    scale: 2;
}
.list-footer{
    
            width: 100%;
            text-align: right;
            
           
            }
            .list-footer>li{
                display: inline;
                margin-right: 5px; 
                margin-bottom: 0px;               
               
                }
                .list-footer>li>a{
                    margin: 5px;
                    color: black; 
                                   
                }
  /* Estilo para la seccion 2 del index */
  /*+++++++++++++++++++++++++++++++++++++++++++*/
  
  #seccion2 {
    position:relative;
    display: flex;
     }  
   .seccion2menu {
    position: absolute;
    text-align: center;
    margin-left: 40%;
    box-sizing: border-box;
    padding-top: 370px;
    font-weight: 700px;
    text-decoration: none;
    font-size: large;
   }  
.masinfo {
    background-color: #c01c24;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    color:white;
}
.masinfo:hover {
    background-color: #96161c;
}
/* estilos para herramientas, cerrajería, bulonería */
/* El estilo de .top es para que la cuadrícula no quede debajo del header */
.top {
    max-width: 100%;
    padding-top: 90px;
    padding-bottom: 10px;
    margin: 0 auto;
}
 /* Defino cuadrícula de 3 columnas */
 .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual ancho */
    grid-gap: 20px; /* Espacio entre las celdas */
    padding: 20px; /* me alejo de los laterales */
    background-color: rgb(6, 90, 6); /*color distinto al header */
    border-radius: 5px;
}

/* Estilos para los elementos dentro de la cuadrícula */
.articulo {
    border: 1px solid #ddd;
    padding: 20px;  
    transition: 0.3s;
    background-color: rgb(13, 126, 101);
    border-radius: 5px;
    
    }
    .articulo:hover{
       scale: 1.05;
    }

.articulo img {
    max-width: 100%;
    border-radius: 5px;
}

/* Estilos para encabezados y otros elementos */
h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 10px;
}


/* dispositivos pequeños */
@media screen and (min-width:0px) and (max-width:425px){
.container{
grid-template-columns: 1fr;
}
}
/* tablets */
@media screen and (min-width:426px) and (max-width:768px) {
.container{
grid-template-columns: 1fr 1fr;
}
}

/* dispositivos laptops o mas grandes */
@media screen and (min-width: 769px) and (max-width: 1440px) {
.container{
grid-template-columns: 1fr 1fr 1fr;
}
}

/********************************/
/* Estilos para usuarios random */
/********************************/
.about{
    background-color: aquamarine;
    border-radius: 10px;
}h2{
    text-align: center;
}
.random{
    
    width: 100%;
    text-align: center;
    margin: 0 ;
}
.random>img{
    border-radius: 100%;
    padding: 5px;
}

.random>p{
    color: blue;
    font-size: 16px;
}span{
    color: black;
}

.datos p{
color: blue;

}
.datos p span{
    color: black;
}
.boton{
    text-align: center;
    padding-bottom: 10px;
}button{    
    padding: 5px;
    border-radius: 10px;
}
   
/*ESTILOS PARA EL FORMULARIO */

.formulario {
    backgorund-color: var(--blanco);
    margin: 2rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}

.campo {
    display: flex;
    margin-bottom: 1rem;
}

.campo__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}

.campo__field {
    flex: 1;
    
    
}

.campo__field--textarea {
    height: 20rem;
}

.error {
    background-color: rgb(185, 0, 0);
    text-align: center;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
}

.correcto {
    background-color: rgb(74, 185, 0);
    text-align: center;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
}
